/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  /* margin: 0px; */
}

/* primary styles */

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 0px;
  padding: 18px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/* navigation styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style  */

.header {
  background-color: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 38px 38px 0px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

banner .profile-pic {
  width: 500px;
}
.banner-content {
  max-width: 500px;
}
.banner-greeting {
  font-size: 45px;
  margin-bottom: 0px;
}

.banner-title {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* main section style  */
main {
  max-width: 1140px;
  margin: 130px auto;
}

.section-title {
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0px;
}

/* about section style  */
.about {
  padding: 130px;
  border-radius: 20px;
  background: #ffd7bb;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  margin-right: 50px;
  text-align: center;
}
.info-title {
  font-weight: lighter;
}
.info-description {
  font-weight: bold;
}
